<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <img class="portrait" src="https://avatars0.githubusercontent.com/u/69983214?v=4">
        <p>Myself Sarvesh Hiwase, a Intermediate Web Developer and Programmer, a Computer Enthusiast willing to learn
            new technologies for fun projects.</p>
    </div>

    {{>footer}}
</body>

</html>